[submodule "packages/snaxter-template"]
	path = packages/snaxter-template
	url = https://github.com/ScyDev/snaxter-template
[submodule "packages/meteor-collection2"]
	path = packages/meteor-collection2
	url = https://github.com/ScyDev/meteor-collection2
[submodule "packages/meteor-collection2-core"]
	path = packages/meteor-collection2-core
	url = https://github.com/ScyDev/meteor-collection2-core
[submodule "packages/reaction-braintree"]
	path = packages/reaction-braintree
	url = https://github.com/ScyDev/reaction-braintree
