
.var___iant-edit-form input {
  min-width: 50px;
}

.col-xs-3 {
    width: 50%;
}

@media (min-width: 768px) {
  .col-sm-3 {
      width: 50%;
  }
}

.title-edit-input {
  font-size: inherit !important;
  height: inherit !important;
}
