
.viewSwitch {
    text-align: center;
    cursor: default;
}

.viewSwitch span {
  cursor: pointer;
}

.viewSwitch i {
  padding: 0 20px;
}

.viewSwitch span:hover {
  text-decoration: underline overline;
}

.no-products-found {
  margin-top: 100px;
  text-align: center;
  width: 100%;
}
